.presentation_wrapper {
  max-width: 1000px;
  padding: 10px;
  margin: auto;
}

.presentation {
  width: 100%;
  min-height: 250px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  background: #fff;
}
.presentation .content_pres {
  flex: 1 1 700px;
  float: left;
  padding: 30px;
  padding-top: 50px;
  box-sizing: border-box;
  color: #292929;
  margin-left: 60px;
}
.presentation .content_pres .minilist {
  font-size: 12pt;
  font-family: "Panton", sans-serif;
  margin-top: -10px;
}
.presentation .content_pres .minilist .mlbox {
  padding: 3px;
  border: solid 1px rgba(0, 0, 0, 0.125);
  display: table;
  color: rgba(0, 0, 0, 0.325);
  float: left;
  margin-right: 5px;
  transform: skewX(-15deg);
  box-sizing: border-box;
}
.presentation .content_pres .minilist .mlbox:first-child {
  border-left: solid 1px rgba(0, 0, 0, 0.125);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #fe3779;
  border-color: #fe3779;
}
.presentation .content_pres .minilist .mlbox:nth-child(2) {
  color: #FE445A;
  border-color: #FE445A;
}
.presentation .content_pres .minilist .mlbox:nth-child(3) {
  color: #FF766D;
  border-color: #FF766D;
}
.presentation .content_pres .minilist .mlbox:nth-child(4) {
  color: #FF9E6D;
  border-color: #FF9E6D;
}
.presentation .content_pres .minilist .mlbox:nth-child(5) {
  color: #FFBA6D;
  border-color: #FFBA6D;
}
.presentation .content_pres .minilist .mlbox:last-child {
  border-right: solid 1px rgba(0, 0, 0, 0.125);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #FFE06D;
  border-color: #FFE06D;
}
.presentation .content_pres p {
  font-size: 1rem;
}
.presentation .content_pres h2 {
  padding: 0px;
  margin: 0px;
  margin-bottom: 35px;
  line-height: 0px;
  font-family: "Panton", sans-serif;
}
.presentation .img_wrapper {
  max-width: 330px;
  transform: skewX(-30deg);
  float: left;
  margin-left: -100px;
  overflow: hidden;
}
.presentation .img_wrapper .img {
  width: 500px;
  height: 100%;
  transform: skewX(30deg);
  background: url("../img/pres.png") center no-repeat #5957F2;
  background-size: 50%;
  background-position-x: 35%;
}
@media (max-width: 1000px) {
  .presentation .content_pres {
    margin-left: 0;
  }
  .presentation .img_wrapper {
    margin-left: 0;
    transform: skewX(0);
    width: 10px;
    background: #5957F2;
  }
  .presentation .img {
    display: none;
  }
}

.stat_wrapper {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  box-sizing: border-box;
  max-width: 1020px;
}
.stat_wrapper .stat {
  flex: 1 1 300px;
  background: #fff;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 10px;
}
.stat_wrapper .stat .stat_img {
  margin: auto;
  width: 70px;
  height: 70px;
  background: #5957F2;
  box-sizing: border-box;
  font-size: 20pt;
  color: white;
  padding: 17px 23px 23px 21px;
  margin-top: 10px;
  border-radius: 99999px;
}
.stat_wrapper .stat .stat_content {
  padding: 20px;
  text-align: center;
}

.banner_wrapper {
  max-width: 1000px;
  padding: 10px;
  margin: auto;
}

.banner {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background: #5957F2;
  color: white;
  padding: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.banner .bannerimg {
  font-size: 20pt;
  margin-left: 30px;
}
.banner .bannercontent {
  margin-left: 50px;
  flex: 1 1;
  font-size: 11pt;
}
@media (max-width: 470px) {
  .banner .bannerimg {
    display: none;
  }
  .banner .bannercontent {
    margin-left: 0px;
  }
}

/*# sourceMappingURL=home.css.map */
